<!--The content below is only a placeholder and can be replaced.-->



<header>
  <app-top-navbar></app-top-navbar>
</header>

<div class="main-content">
  
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
          </button>
      <app-side-menu ></app-side-menu>

    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <router-outlet ></router-outlet>
    </div>
     

  
</div>

</div>

<div class="full-app">
  <div class="row">
    <div class=""></div>
  </div>

</div>
