<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
	<!-- END: Header -->

<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
					<!-- BEGIN: Aside Menu -->
				<app-side-menu></app-side-menu>
				<!-- END: Aside Menu -->
				<div style="width:100%">
					<router-outlet ></router-outlet>
				</div>
      
    </div>
<app-footer></app-footer>
  </div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
			<!-- begin::Quick Nav -->
		
		<!-- begin::Quick Nav -->