<div class="m-grid__item m-grid__item--fluid m-wrapper">

  <!-- BEGIN: Subheader -->
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">Submit Indent Revision</h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">Operations</span>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a href="indents.php" class="m-nav__link">
              <span class="m-nav__link-text">Indents</span>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a href="indents.php" class="m-nav__link">
              <span class="m-nav__link-text">Submit Indent Revision</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- END: Subheader -->
  <!-- END: Subheader -->
  <div class="m-content">
    <!--begin::Portlet-->

    <!--end::Portlet-->
    <div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile" id="main_portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-progress">

          <!-- here can place a progress bar-->
        </div>
        <div class="m-portlet__head-wrapper">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon">
                <i class="flaticon-edit"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Submit Revisions
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a href="indents.php" class="btn btn-secondary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
              <span>
                <i class="la la-arrow-left"></i>
                <span>Cancel</span>
              </span>
            </a>
            <a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10 btn-approve">
              <span>
                <i class="la la-puzzle-piece"></i>
                <span>Apply & Submit</span>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="m-portlet__body">
        <!--begin: Search Form -->

        <!--end: Search Form -->

        <!--begin: Datatable -->
        <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <table class="table m-table">
                <thead>
                  <tr>
                    <!-- <th>ATM ID</th> -->
                    <th>Bank Name</th>
                    <th>Project</th>
                    <th>Bank Code</th>
                    <th>Feeder Branch</th>
                    <th>Date</th>
                    <th>CRA</th>
                    <th>Model</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="m-table__row--metal">
                    <!-- <th>233-12</th> -->
                    <th>State Bank of India</th>
                    <th>MF</th>
                    <th>SBI</th>
                    <th>Ghatkopar</th>
                    <th>06/09/2018</th>
                    <th>Example CRA</th>
                    <th>
                      <select class="form-control m-input m-input--square m-bootstrap-select">
                        <option selected>Default</option>
                        <option>Model 1</option>
                        <option>Model 1</option>
                        <option>Model 1</option>
                      </select>
                    </th>
                  </tr>
                  <tr>
                    <td colspan="8" class="m--padding-30">
                      <div class="row">
                        <div class="col-sm-12 col-md-8">
                          <table class="table table-bordered m-table">
                            <thead class="thead-inverse">
                              <tr>
                                <th>Version</th>
                                <th>Total Amount</th>
                                <th>100</th>
                                <th>200</th>
                                <th>500</th>
                                <th>2000</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="m-table__row--metal">
                                <th>ATMD ID</th>
                                <td colspan="5">1245-45</td>
                              </tr>
                              <tr>
                                <th>Original</th>
                                <td>1245</td>
                                <td>1245</td>
                                <td>145</td>
                                <td>125</td>
                                <td>45</td>
                              </tr>
                              <tr>
                                <th>Availability</th>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                              </tr>
                              <tr>
                                <th>Revise</th>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                              </tr>
                              <tr class="m-table__row--metal">
                                <th>ATMD ID</th>
                                <td colspan="5">2333-45</td>
                              </tr>
                              <tr>
                                <th>Original</th>
                                <td>1245</td>
                                <td>1245</td>
                                <td>145</td>
                                <td>125</td>
                                <td>45</td>
                              </tr>
                              <tr>
                                <th>Availability</th>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                              </tr>
                              <tr>
                                <th>Revise</th>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                                <td><input type="email" class="form-control form-control-sm m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <div class="form-group m-form__group">
                            <label for="exampleTextarea">Remarks</label>
                            <textarea class="form-control m-input" rows="3"></textarea>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--end: Datatable -->
        </div>
      </div>
    </div>
  </div>
</div>