/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Poppins';
    src:url('/assets/theme/font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:url('/assets/theme/font/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 600;
}


@font-face {
    font-family: 'Roboto';
    src:url('/assets/theme/font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";
@import '..//node_modules/@swimlane/ngx-datatable/release/themes/material.css';

.icon-gradient{
    .fa{

        background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #ad5beb), color-stop(50%, #c678db), color-stop(75%, #da6ea9), to(#e76e92));
        background: linear-gradient(180deg, #ad5beb 25%, #c678db 50%, #da6ea9 75%, #e76e92 100%);
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  
}

.pointer{
    cursor: pointer;
}



.ngx-datatable .datatable-footer .datatable-pager .pager, .ngx-datatable .datatable-footer .datatable-pager .pager li{
    padding: 4px !important;
}


.m-quick-sidebar-overlay{
    display: none;
}
.m-quick-sidebar--on {
    .m-quick-sidebar-overlay{
    display: block;
}
}


.custom-scroll{
overflow: scroll !important;
}

#time-picker-wrapper{
    z-index: 1000000 !important;
}



// form validation
.is-invalid{
border:1px solid red;
}


//------ modal scss

.preview-modal{
    max-width: 80vw !important;
    .modal-body{
        max-height: 65vh;
        padding: 5px 25px !important;
    // overflow: scroll;
    .table{
        // overflow: scroll;
        // height: 55vh;
    }
    datatable-body{
        height: 40vh !important;
        overflow: scroll;
    }
    }

    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
    text-align:center;
    }
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
    text-align:center;
    }
}



.filter-applied{
    background: #5867dd;
    border-radius: 5px;
    color: white;
}


.datatable-header{
    font-weight: 600;
    color: #6f727d;
}


.ngx-datatable .datatable-footer .datatable-pager .pager .active a{
color:black;
}



.ngx-datatable {
    .custom-pagination-select{
        min-width: 50px !important;
    min-height: 25px !important;
    bottom: -12px !important;
    opacity: 1 !important;
    border: 0 !important;
    color: #fff !important;
    background: #716aca;
    border-radius: 10px;
    padding: 0px 5px !important;
    left: 0;
    }
}



.ngx-datatable.material .datatable-header .datatable-header-cell{
    color: rgba(17, 17, 17, 0.69);
 font-family: 'Poppins';
    font-size: 14px;
    font-weight: bold;
}

.m-aside-left.m-aside-left--skin-dark.m-aside-left.m-aside-left--skin-dark{
    background-color: #2d2c7f;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--expanded{
    background-color: #000000 !important;
}


.no_style_list{
    list-style: none;
}


.width100{
    width:100%;
}

.form-control{
    border-color: #c4c5d6 !important;
}

.modal .modal-content{
    border: 1px solid lightgrey;
}