/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";
.icon-gradient{
    .fa{

        background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #ad5beb), color-stop(50%, #c678db), color-stop(75%, #da6ea9), to(#e76e92));
        background: linear-gradient(180deg, #ad5beb 25%, #c678db 50%, #da6ea9 75%, #e76e92 100%);
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  
}

.pointer{
    cursor: pointer;
}



.ngx-datatable .datatable-footer .datatable-pager .pager, .ngx-datatable .datatable-footer .datatable-pager .pager li{
    padding: 4px !important;
}


.m-quick-sidebar-overlay{
    display: none;
}
.m-quick-sidebar--on {
    .m-quick-sidebar-overlay{
    display: block;
}
}


.custom-scroll{
overflow: scroll !important;
}

#time-picker-wrapper{
    z-index: 1000000 !important;
}



// form validation
.is-invalid{
border:1px solid red;
}


//------ modal scss

.preview-modal{
    max-width: 80vw !important;
    .modal-body{
        max-height: 65vh;
    overflow: scroll;
    }

    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
    text-align:center;
    }
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
    text-align:center;
    }
}



.filter-applied{
    background: #5867dd;
    border-radius: 5px;
    color: white;
}